{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="static/css/bootstrap-theme.css" type="text/css">
{% endblock %}

{% block login %}
{% if loggedin %}
<li role="presentation"><a href="/logout/" style="color:black;">Logout</a></li>
{% else %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="navbar-main" style="color:black; font-size: 15px;">Administrator Login<span class="caret" style="color:black;"></span></a>
  <ul id="login-dp" class="dropdown-menu">
    <li>
      <div class="row">
        <div class="col-md-12">
          <form class="form" role="form" method="POST" action="/login/" accept-charset="UTF-8">
            <div class="form-group">
              Username: <input class="form-control" placeholder="Username" type="text" name="admin" required>
              <br/>
              Password:&thinsp; <input class="form-control" type="password" name="pass" placeholder="Password" required>                        
              <br/>                        
              <input class="btn btn-primary btn-block" type="submit" name="button" value="login" action="login">
            </div>
          </form>
        </div>
      </div>
    </li>
  </ul>
</li>
{% endif %}
{% endblock %}

{% block data %}
  <center>
    <div class="card large-6">
      <div class="action">
        <div class="row results">
          <div class="large-12 columns ">
	    <h1>About TETEA</h1>
	    
	    <h2>Mission Statement</h2>
	    
	    “To empower Tanzanians through education.”
	    <br><br>
	    We work to achieve our mission by expanding educational opportunities in Tanzania through sponsoring needy students and working to develop learning centers in the country.
	    <br><br>
	    TETEA was founded in November 2008 and is a registered 501(c)(3) non-profit organization.
	    <br>
	    <h2> About this Site </h2>
	    This site is designed from the TETEA text service.  The site was written for a senior level computer science elective at Stuyvesant High School in New York City.
          </div>
        </div>
      </div>
    </div>
    <h2>Usage Instructions</h2>
    <p style="font-size:1.0em;"> Select your desired subject and type from the dropdown menus! <br> If you choose questions, you are given quiz sets so you can test your knowledge. With notes, simply pick a specific topic on interest. If definitions are chosen, you are able to select either a letter, where you can then search for a word you are looking for, or a random set of definitions, which function as flashcards to quiz yourself. Press submit when you're ready to retrieve your information. </p>
  </center>
  
{% endblock %}
