{% extends "layout.html" %}

{% block login %}
{% if loggedin %}
<li role="presentation"><a href="/logout/" style="color:black;">Logout</a></li>
{% else %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="navbar-main" style="color:black; font-size: 15px;">Administrator Login<span class="caret" style="color:black;"></span></a>
  <ul id="login-dp" class="dropdown-menu">
    <li>
      <div class="row">
        <div class="col-md-12">
          <form class="form" role="form" method="POST" action="/login/" accept-charset="UTF-8">
            <div class="form-group">
              Username: <input class="form-control" placeholder="Username" type="text" name="admin" required>
              <br/>
              Password:&thinsp; <input class="form-control" type="password" name="pass" placeholder="Password" required>                        
              <br/>                        
              <input class="btn btn-primary btn-block" type="submit" name="button" value="login" action="login">
            </div>
          </form>
        </div>
      </div>
    </li>
  </ul>
</li>
{% endif %}
{% endblock %}

{% block data %}
<center><h1> Contact Us </h1>
<br>
<h3>If you encounter any problems, please feel free to contact our team: </h3>
<br>
<div class="contact">
  <b>Brian Sterr:</b> sterr@stuy.edu <br>
  <b>Karol Regula:</b> karolregu@gmail.com <br>
  <b>Emma Vukelj:</b> emma.vukelj@gmail.com <br>
  <b>Yvonne Chan:</b> ychan1352@gmail.com <br>
  <b>Bayle Smith-Salzberg:</b> baylemichal@gmail.com <br>
  <b>Felix Rieg-Baumhauer: </b> felix.rb0@gmail.com <br>
</div>
</center>

{% endblock %}
