/* THE STYLING FOR QUESTIONS */
.aContent {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.question{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.answer {
	color: gray;
}

/*THE STYLING FOR NOTES*/
.aNote{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.notes_header{
    /*font-size: 20 px;*/
    font-weight: bold;
}

.notes_explanation{

}

.one_note{
    margin-right: 10px
    
}

/*THE STYLING FOR THE DEFS*/

.holdDefs{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.def_header{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30 px;
}

.defs{
    padding-right: 10px;
    padding-left: 100px;
}

.definition {
    text-align: center;
    width: 40%;
    height: 100px;
    margin: auto;
    margin-bottom: 30px;
    overflow: scroll;
    overflow-x: hidden;
    overflow:-moz-scrollbars-none;
}

@media only screen and (max-device-width: 500px) {
    .definition {
        width: 100%;
        height: 75px;
    }
}

@-moz-document url-prefix() {
    .definition {
        overflow-y: auto;
    }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}