.aContent {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.answer {
	color: gray;
}

.wrong {
    /*font-style: italic;*/
}

.right {
    /*font-style: bold;*/
}