{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/css/bootstrap-theme.css" type="text/css">

{% endblock %}

{% block body %}
<center>
    <br>
    <div class="card large-6">
        <div class="content">
            <span class="title"> About </span>
        </div>
        <div class="action">
          <div class="row results">
            <div class="large-12 columns ">
	      <h1>About TETEA</h1>

	      <h2>Mission Statement</h2>

	      “To empower Tanzanians through education.”

	      We work to achieve our mission by expanding educational opportunities in Tanzania through sponsoring needy students and working to develop learning centers in the country.

	      TETEA was founded in November 2008 and is a registered 501(c)(3) non-profit organization.


	      <h2> About this Site </h2>

                </div>
            </div>
        </div>
    </div>
</center>

<script>
//set background image to the tetea symbol
$(document).ready(function(){
    $("body").css({"background-image": 'url("/static/")'});
});
</script>

{% endblock %}
