{% extends "layout.html" %}

{% block data %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div>
{{login_error}}

<script type="text/javascript">
  google.charts.load('current', {packages:['corechart','bar']});
  google.charts.setOnLoadCallback(drawBasic);
  var allSubjects = [["Subject","Frequency", { role: 'style' }]]
  var temp = []
  {% for element in subjects %}
  {% if loop.index0 != 0 %}
  {% for e in element %}
  {% if loop.index != 2 %}
		     temp.push("{{ e }}");
		     {% else %}
		     temp.push({{e}});
		     {% endif %}
		     {% endfor %}
		     allSubjects.push(temp);
		     temp = []
		     {% endif %}
		     {% endfor %}
		     
		     function drawBasic() {
		     var data = google.visualization.arrayToDataTable(
		     allSubjects
		     );

		     var options = {
  title: 'Access Frequency of Different Subjects',
  colors: ['#01b230'],
		     chartArea: {width: '50%'},
		     hAxis: {
		     title: 'Total Frequency',
		     minValue: 0
                     },
		     vAxis: {
		     title: 'Subject'
		     }
		     };
		     var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
		     chart.draw(data, options);
		     }
		     </script>
<br> <hr> <br>
<h2>Upload New Database File</h2>
<form method=post enctype=multipart/form-data>
  <p>
    <label class="custom-file">
      <input type="file" id="file" class="custom-file-input" name=file>
      <span class="custom-file-control"></span>
    </label>
    <input type="submit" class="btn btn-primary" value="Upload">
  </p>
</form>
<i> {{ message }} </i>

{% endblock %}

{% block login %}
<li role="presentation"><a href="/logout/">Logout</a></li>
{% endblock %}
