{% extends "layout.html" %}

{% block data %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div>
{{login_error}}

<script type="text/javascript">
  google.charts.load('current', {packages:['corechart','bar']});
  google.charts.setOnLoadCallback(drawBasic);
  var allSubjects = [["Subject","Frequency", { role: 'style' }]]
  var temp = []
  {% for element in subjects %}
  {% if loop.index0 != 0 %}
  {% for e in element %}
  {% if loop.index != 2 %}
		     temp.push("{{ e }}");
		     {% else %}
		     temp.push({{e}});
		     {% endif %}
		     {% endfor %}
		     allSubjects.push(temp);
		     temp = []
		     {% endif %}
		     {% endfor %}
		     
		     function drawBasic() {
		     var data = google.visualization.arrayToDataTable(
		     allSubjects
		     );

		     var options = {
  title: 'Access Frequency of Different Subjects',
  colors: ['#01b230'],
		     chartArea: {width: '50%'},
		     hAxis: {
		     title: 'Total Frequency',
		     minValue: 0
                     },
		     vAxis: {
		     title: 'Subject'
		     }
		     };
		     var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
		     chart.draw(data, options);
		     }
		     </script>
<br> <hr> <br>
<h2>Upload a New SQL Database</h2>
<form method=post enctype=multipart/form-data>

	<span class="btn btn-default btn-file">
	    <div id=file-upload-span> Browse </div> <input type="file" name="file" class="upload">
	</span>
	<input type="submit" class="btn btn-primary" value="Upload">
</form>

<h2>Download the Current SQL Database</h2>
<a class="download_db" href="{{url_for('download')}}"  download="database.db">
<button id="getDbBtn" class="btn btn-primary" class="btn btn-primary">Download current database.

</button>
</a>

<br><br><br>
<h2>Change administrator password</h2>
<form class="container" method="POST" action="{{ url_for('changePass') }}">
	<div class="row">
		<div class="col-md-3">
			<input type="password" class="form-control" placeholder="New password" name="p1">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
			<input type="password" class="form-control" placeholder="Retype password" name="p2">
		</div>
	</div>
	<br>
	<input type="submit" id="submitPass" class="btn btn-primary" value="Change password"">
	<span style="display: none;" id="submitWarn">New password entries must match</span>
</form>

<script type="text/javascript">
	var passes = document.getElementsByClassName("form-control");
	var subm = document.getElementById("submitPass");
	var msg = document.getElementById("submitWarn");
	passes[1].addEventListener('keyup', function(e) {
		subm.setAttribute("class", subm.getAttribute("class").replace(" disabled",""));
		msg.style.display = 'none';
		if (passes[1].value != passes[0].value) {
			subm.setAttribute("class", subm.getAttribute("class") + " disabled");
			msg.style.display = 'block';
		}
	});

	var getCurr = document.getElementById("getDbBtn");
	getCurr.addEventListener('click', function(e) {
		console.log("clickety");
	});	
</script>

<i> {{ message }} </i>

{% endblock %}

{% block login %}
<li role="presentation"><a href="/logout/" style="color:black;">Logout</a></li>
{% endblock %}
