{% extends "layout.html" %}

{% block login %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Administrator Login</b><span class="caret"></span></a>
  <ul id="login-dp" class="dropdown-menu">
    <li>
      <div class="row">
        <div class="col-md-12">
          <form class="form" role="form" method="POST" action="/login/" accept-charset="UTF-8">
            <div class="form-group">
              Username: <input class="form-control" placeholder="Username" type="text" name="admin" required>
              <br/>
              Password:&thinsp; <input class="form-control" type="password" name="pass" placeholder="Password" required>                        
              <br/>                        
              <input class="btn btn-primary btn-block" type="submit" name="button" value="login" action="login">
            </div>
          </form>
        </div>
      </div>
    </li>
  </ul>
</li>
{% endblock %}


{% block data %}
<b>USERNAME: "Admin"<br>PASSWORD: "pass"</b><br>


{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<b style="color:red">{{ message }}</b>
{% endfor %}
{% endif %}
{% endwith %}

<h2>Subjects</h2>
<div class="dropdown">
  <button id="selectSubjects-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" onclick="setTopics({{topics}});setQuiz();setDefinition();">Pick a subject
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="selectSubjects">
    {% for subject in subjects %}
    <li><a href="#" class="linkSubjects">{{subject}}</a></li>
    {%endfor%}
  </ul>
</div>

<h2>Types</h2>
<div class="dropdown">
  <button id="selectTypes-button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick a material type
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="selectTypes">
    {% for type in types %}
    <li><a href="#" class="linkTypes">{{type}}</a></li>
    {%endfor%}
  </ul>
</div>

<h2 id="selectTopicsHeading">Topics</h2>
<select id="selectTopics">
</select>

<h2 id="selectQuizHeading">Quizzes</h2>
<select id="selectQuiz">
</select>

<h2 id="selectDefinitionHeading">Definition Sets</h2>
<select id="selectDefinition">
</select>

<br><br>
<input type="submit" value="Submit" onclick="getContent();">

<div id="content">
</div>
<br>


<br>

{% endblock %}

