{% extends "layout.html" %}

{% block login %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="navbar-main" style="color:black; font-size: 15px;">Administrator Login<span class="caret" style="color:black;"></span></a>
  <ul id="login-dp" class="dropdown-menu">
    <li>
      <form class="form" role="form" method="POST" action="/login/" accept-charset="UTF-8">
        <div class="form-group">
          Username: <input class="form-control" placeholder="Username" type="text" name="admin" required>
          <br/>
          Password:&thinsp; <input class="form-control" type="password" name="pass" placeholder="Password" required>                        
          <br/>                        
          <input class="btn btn-primary btn-block" type="submit" name="button" value="login" action="login">
        </div>
      </form>
    </li>
  </ul>
</li>
{% endblock %}


{% block data %}
<p style="font-size:1.5em;margin:0;"> Welcome to Text Tetea!<br></p>
<font style="font-size:1.0em;">See the About page for instructions.</font>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<b style="color:red">{{ message }}</b>
{% endfor %}
{% endif %}
{% endwith %}

<h2>Subjects</h2>
<div class="dropdown">
  <button id="selectSubjects" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick a subject
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="selectSubjects-inner">
    {% for subject in subjects %}
    <li><a href="#" class="linkSubjects">{{subject}}</a></li>
    {%endfor%}
  </ul>
</div>

<h2>Types</h2>
<div class="dropdown">
  <button id="selectTypes" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick a material type
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="selectTypes-inner">
    {% for type in types %}
    <li><a href="#" class="linkTypes">{{type}}</a></li>
    {%endfor%}
  </ul>
</div>

<h2 id="selectTopicsHeading">Topics</h2>
<div class="dropdown">
  <button id="selectTopics" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick a topic
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="selectTopics-inner">
  </ul>
</div>

<h2 id="selectQuizHeading">Quizzes</h2>
<div class="dropdown">
  <button id="selectQuiz" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick a quiz
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="selectQuiz-inner">
  </ul>
</div>

<h2 id="selectDefinitionHeading">Definition Sets</h2>
<div class="row">
  <div class="col-md-3">
    <div class="dropdown">
      <button id="selectDefinition" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick a defnition set
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="selectDefinition-inner">
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <i><h3 id="or"></h3></i>
  </div>
  <div class="col-md-3">
    <button id="selectDefinitionRandom" class="btn btn-primary" type="button" amount="" onclick="randomDefinition();">Random Definition Set</button>
  </div>
</div>

<br><br>
<br>
<div id="content">
</div>
<br>
<br>
<br>

<div style="display:none" id=topicSource>
  {{topics}}
</div>

{% endblock %}
