<!DOCTYPE HTML>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="icon" href="../../favicon.ico"> -->
  
  
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  
  <title>{{ title }}</title>
  
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" /><!--DELETE if not needed-->
  
  <!-- Graph Script-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
  <!--PREVIOUS WORK -->
  <script src="../static/js/jquery.js"></script> <!-- Might be broken-->
  <script src="../static/js/tetea.js"></script>
</head>
<body>
  
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          {% block login %}
	  {% endblock %}
          
          <li role="presentation"><a href="{{ url_for('about') }}" class="navbar-main">About</a></li>
          <li role="presentation"><a href="#" class="navbar-main">Contact</a></li>
        </ul>
      </nav>
      <a href = "http://www.tetea.org/">
	<img src="static/images/logo-2.png" width="10%" height="10%">
    </div>
    </a>
    
    
    <!-- THE ACTUAL STUFF -->
    <div class="jumbotron">
      {% block data %}
      {% endblock %}
    </div>
    <!-- THE END OF THE STUFF-->
</body>
</html>
